body {
    text-align: center;
    background-color: black;
    font-family: "Courier New", monospace;
}

p {
    padding-left: 1%;
}

#fakebuttons {
    margin: auto;
    padding-top: 1%;
    text-align: right;
    float: right;
    padding-right: 2%;
}

#terminal {
    display:inline-block;
    font-weight: bolder;
}

#infobox {
    text-align: center;
    background: rgb(60, 60, 60);
    color:white;
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 5%;
}

#roundedtop {
    border-top: solid;
    border-radius: 10px 10px 0px 0px;
    border-color: rgb(60, 60, 60);
    border-bottom: solid;
    border-bottom-color: darkgray;
    border-width: 1px;
    height: 5%;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgb(60, 60, 60);
    position: relative;
    color:white;
    font-weight: bolder;
    word-spacing: 10px;
    text-align: center;
}

#userText {
    margin-left: 25%;
    justify-content: center;
    background-color: rgb(60, 60, 60);
    color: white;
    text-align: left;
    height: 45%;
    width: 50%;
    overflow-y: scroll;
}

#userInput {
    width: 50%;
    padding: 10px;
    border:none;
    background-image: url('./greaterthans.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background: rgb(60, 60, 60);
    color: white;
    border-top: solid;
    border-color: darkgray;
    border-width: 1px;
}

#userInput:focus {
    outline: none;
}