:root {
	--term-colour: white;
	--term-bg-colour: #3C3C3C;
	--main-colour: white;
	--main-bg-colour: #3C3C3C;
	--body-bg-colour: black;
}

body {
    text-align: center;
    background-color: var(--body-bg-colour);
    font-family: "Courier New", monospace;
}

p {
    padding-left: 1%;
}

#fakebuttons {
    margin: auto;
    padding-top: 1%;
    text-align: right;
    float: right;
    padding-right: 2%;
}

#terminal {
    display:inline-block;
    font-weight: bolder;
}
h2#terminal {
	margin: 10px;
	padding-left: 12%;
	align-content: center;
}

#infobox {
    text-align: center;
    background: rgb(60, 60, 60);
    color: var(--main-colour);
    width: 50%;
    height: 10%;
    margin-left: 25%;
    margin-top: 5%;
	padding-bottom: 10px;
}

h4 {
	padding: 5px;
}

#roundedtop {
    border-top: solid;
    border-radius: 10px 10px 0px 0px;
    border-color: rgb(60, 60, 60);
    border-bottom: solid;
    border-bottom-color: darkgray;
    border-width: 2px;
    height: 5%;
    width: 50%;
    margin-top: 5%;
    margin-left: 25%;
    background-color: rgb(60, 60, 60);
    position: relative;
    color: var(--main-colour);
    font-weight: bolder;
    word-spacing: 10px;
    text-align: center;
}

#userText {
    margin-left: 25%;
    justify-content: center;
    background-color: var(--term-bg-colour);
    color: var(--term-colour);
    text-align: left;
    height: 45%;
    width: 50%;
    overflow-y: scroll;
}

#userInput {
    width: 50%;
    padding: 10px;
    border:none;
    background-image: url('./greaterthans.png');
    background-position: 10px 10px; 
    background-repeat: no-repeat;
    background: var(--term-bg-colour);
    color: var(--term-colour);
    border-top: solid;
    border-color: darkgray;
    border-width: 2px;
}

#userInput:focus {
    outline: none;
}
